$border-color: #979797;
$bg-color: #d8d8d8;
$img-border: #a6a6a6;

body {
    font-size: 20px;
    font-family: arial;
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}
.left-col {
    width: 25%;
    min-height: 100vh;
}
.right-col {
    width: 75%;
}
.contacts {
    border-right: 1px solid $border-color;
}
.details {
    text-align: center;
    padding-top: 30px;
}
.headline {
    text-align: center;
    font-size: 34px;
    border-bottom: 1px solid $border-color;
    padding: 30px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    text-align: center;
    border-bottom: 1px solid $border-color;
}
.contacts-list > ul {
    margin: 0;
    padding: 0;
}
.contacts-list > ul > li {
    padding: 30px 0;
    margin: auto;
    cursor: pointer;
}
.contacts-list > ul > li > span {
    width: 80%;
}
.contacts-list > ul > li.active {
    width: 100%;
    border-top: 1px solid $border-color;
    margin-top: -1px;
    background-color: $bg-color;
}
ul.contact-details {
    width: 50%;
    margin: 20px auto;
}
ul.contact-details > li {
    padding: 20px;
}
.avatar {
    border-radius: 50%;
    background-color: $bg-color;
    border: 1px solid $img-border;
    width: 100px;
    height: 100px;
    padding: 12px;
    display: inline-block;
}
.avatar > img {
    width: 100%;
}
.list-toggle {
    display: none;
}

@media only screen and (max-width: 767px) {
    .left-col, .right-col {
        width: 100%;
        min-height: auto;
    }
    ul.contact-details {
        width: 80%;
    }
    .contacts {
        border: none;
    }
    .contacts-list {
        display: none;
    }
    .list-toggle {
        text-align: right;
        display: block;
        margin-top: 15px;
        margin-right:30px;
    }
    .list-toggle span {
        font-size: 34px;
        cursor: pointer;
    }
    .mobile.hidden {
        display: none;
    }
    .mobile.shown {
        display: block;
    }
}
